body {
    
}

.headerIMG{
    width: 100%;
}

h1{
    text-align: center;
    font-size: 4em;
}

p{
    font-size: 1em;
    text-align: left;
}

.column{
    float: left;
    width: 33.33%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

#firstColum {
    text-align: center;
}

a {
    text-align: center;
}

#navBar{
    display:inline-block;
    width: 30%;
    height: 15%;
}

#lastColumn{
    width: 28%;
}

h2{
    text-align:center;
}

.errorMessage{
    color: red;
    font-weight: bold;
}